# Round-robin bond (software only — lab / bench, not for production).
#
# Enable: disable 00-br0-flat, copy to e.g. 10-bond-rr, ifup -a

auto bond0
iface bond0 inet manual
  use bond
  pre-up modprobe bonding
  pre-up ip link set dev ge0 down
  pre-up ip link set dev ge1 down
  bond-slaves ge0 ge1
  bond-mode balance-rr
  bond-miimon 100

auto br0
iface br0 inet dhcp
  use bridge
  requires bond0
  bridge-ports node1 node2 node3 node4 bond0
  pre-up /etc/network/nfs_check
  pre-up /etc/network/set_br0_mac_pre_dhcp.sh
  wait-delay 15
  hostname $(hostname)
